<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<center>
		<h1>工厂注册</h1>
		<form action="" method="post" >
			<table>
				<tr align="right">
					<td>工厂名称:</td>
					<td><input name="fac_name" type="text" /></td>
				</tr>
				<tr align="right">
					<td>城市：</td>
					<td><input name="city" type="text" /></td>
				</tr>
				<tr align="right">
					<td>地址：</td>
					<td><input name="address" type="text" /></td>
				</tr>
				<tr align="right">
					<td>联系人：</td>
					<td><input name="contact" type="text" /></td>
				</tr>
                <tr align="right">
					<td>联系人电话：</td>
					<td><input name="tel" type="text" /></td>
				</tr>
                <tr align="right">
					<td>对接人：</td>
					<td><input name="dj" type="text" /></td>
				</tr>

                <tr>
					<td colspan="2" align="center">
						<input type="reset" />
						<input type="submit" />
					</td>
				</tr>

			</table>
		</form>
		</center>
	</body>
</html>
